.container
    .footer__inner
        .name-comp
            a(href="#").name Miture 
                span Architecture
        .footer__box
            .footer__item
                .footer__info 
                    .footer__name 
                        | ЗВОНИТЕ
                    .footer__contacts 
                        div 
                            | Телефон:  +7 (343) 255-655
                        div 
                            | Факс:  +7 (343) 255-655
            .footer__item
                .footer__info 
                    .footer__name 
                        | ПИШИТЕ
                    .footer__contacts 
                        div 
                            | support@youremail.com

                        div 
                            | projectmanager@youremail.com

            .footer__item
                .footer__info 
                    .footer__name 
                        | ПРИЕЗЖАЙТЕ
                    .footer__contacts 
                        div 
                            | г. Екатеринбург, ул. Циолковского 27
                        div 
                            | Екатеринбург 669987
.footer__strip
    div#footer
        | ООО "Miture Developvent" ©  2020
