
.container
    .header__inner
        .name-comp 
            a(href="#").name Miture 
                span Architecture
        nav.nav 
            ul.list 
                li.list__item
                    a(href="#offer") Главная
                li.list__item
                    a(href="#feedback") Блог
                li.list__item
                    a(href="#furniture") Портфолио
                li.list__item
                    a(href="#disegn") Кейсы
                li.list__item
                    a(href="#footer") Магазин
        .phone
            .phone__ico 
                img(src="img/phone_ico.svg", alt="")
            .phone__number 
                span Телефон
                a(href="#") 
                    | +7 (343) 255-655
