doctype html
html(lang="ru")
  head
    block meta
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
      meta(name="viewport", content="width=device-width initial-scale=1")
      meta(name="format-detection" content="telephone=no")
      meta(name="description" content="boilerplate template")
    block title
      title Тайтл
    block favicons
      link(rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon.png")
      link(rel="icon" type="image/png" href="/assets/img/favicons/favicon-32x32.png" sizes="32x32")
      link(rel="icon" type="image/png" href="/assets/img/favicons/favicon-16x16.png" sizes="16x16")
      link(rel="manifest" href="/assets/img/favicons/site.webmanifest")
      link(rel="mask-icon" href="/assets/img/favicons/safari-pinned-tab.svg" color="#000000")
      link(rel="shortcut icon" href="/assets/img/favicons/favicon.ico")
      meta(name="msapplication-config" content="/assets/img/favicons/browserconfig.xml")
      meta(name="theme-color" content="#000000;")

  body
    block page
      header.header-section
        include ./header.pug

      main.main-content
        block contentBlock

      footer.footer-section
        include ./footer.pug

